/* -------------------------------------- */
/* SECTION PLANS */
/* -------------------------------------- */

.section-plans {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e6e5e5;
  box-shadow: 0 2px 2px #efefef;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}

.plan-box span {
  font-weight: 300;
  font-size: 30%;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box li {
  padding: 5px 0;
}

.plan-box div:first-child {
  background-color: $color-lighten;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border-bottom: transparent;
}
